/* === HERO SECTION === */

.hero {
  width: auto;
  height: auto;
  text-align: center;

  padding-top: 200px;
  padding-bottom: 200px;

  color: var(--second-title-color);
  background-color: var(--second-backgraund-color);
}

.hero .title {
  margin-bottom: 30px;

  font-size: 44px;
  font-weight: 900;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

.overlay {
  min-height: 600px;
  max-width: 1600px;
  outline: 1px solid red;
  margin-left: auto;
  margin-right: auto;

  background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url("../images/hero-img1.jpg");
  background-color: var(--second-backgraund-color);
}
