/* === HERO SECTION === */

.hero {
  min-width: 100vw;
  /* height: 400px; */
  text-align: center;

  padding-top: 118px;
  padding-bottom: 118px;

  background-color: var(--second-backgraund-color);

  @include mq(mobile) {
    height: 400px;
  }

  @include mq(tablet) {
    width: 768px;
    height: 400px;
  }

  @include mq(desktop) {
    height: auto;
    padding-top: 200px;
    padding-bottom: 200px;
  }

  /* width: auto;
  height: auto;
  text-align: center;

  padding-top: 200px;
  padding-bottom: 200px;

  color: var(--second-title-color);
  background-color: var(--second-backgraund-color); */
}

.hero .title {
  margin-bottom: 30px;
  padding-left: 60px;
  padding-right: 60px;
  text-align: center;

  font-size: 26px;
  font-weight: 900;
  line-height: calc(42 / 26);
  letter-spacing: 0.06em;
  text-transform: uppercase;

  color: var(--second-title-color);

  @include mq(tablet) {
    padding-right: 204px;
    padding-left: 204px;
  }

  @include mq(desktop) {
    font-size: 44px;
  }

  /* margin-bottom: 30px;

  font-size: 44px;
  font-weight: 900;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase; */
}

/* .hero__pick {
  display: inline-block;
  position: relative;
  width: 360px;
} */

.overlay {
  /* max-height: 400px; */
  max-width: 480px;

  background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url("../images/header-img-mobile-1.jpg");
  background-color: var(--second-backgraund-color);
  background-size: cover;
  @include mq(retina) {
    background-image: linear-gradient(
        to right,
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url("../images/hero@2x-mbl.jpg");
    background-color: var(--second-backgraund-color);
    background-size: cover;
  }

  @include mq(tablet) {
    width: 100vw;

    background-image: linear-gradient(
        to right,
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url("../images/header-img-tablet-1.jpg");
    background-color: var(--second-backgraund-color);
    background-size: cover;

    @include mq(retina) {
      background-image: linear-gradient(
          to right,
          rgba(47, 48, 58, 0.4),
          rgba(47, 48, 58, 0.4)
        ),
        url("../images/hero-tblt@2x.jpg");
      background-color: var(--second-backgraund-color);
      background-size: cover;
    }
  }

  @include mq(desktop) {
    background-image: linear-gradient(
        to right,
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url("../images/hero-img1.jpg");
    background-color: var(--second-backgraund-color);
    background-size: cover;

    @include mq(retina) {
      background-image: linear-gradient(
          to right,
          rgba(47, 48, 58, 0.4),
          rgba(47, 48, 58, 0.4)
        ),
        url("../images/header-dsctop-@2x-min.jpg");
      background-color: var(--second-backgraund-color);
      background-size: cover;
    }
  }

  /* min-height: 600px;
  max-width: 1600px;
 
  margin-left: auto;
  margin-right: auto;

  background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url("../images/hero-img1.jpg");
  background-color: var(--second-backgraund-color); */
}
