:root {
  --primery-text-color: #757575;
  --title-text-color: #212121;
  --accent-color: #2196f3;
  --logo-color: #000000;
  --primery-backgraund-color: #ececec;
  --second-title-color: #ffffff;
  --second-text-connect: rgba(255, 255, 255, 0.6);
  --second-backgraund-color: #2f303a;
  --third-backgraund-color: #f5f4fa;
  --backgraund-color: #e5e5e5;
  /* переменніе для текста */
  --main-font: "Roboto";
  --secondary-font: "Raleway";
}
